.v-card
    &--sheet
        position: relative
        top: -24px
        z-index: 1
    
    &__text&--offset
        margin-top: -8px
    
    &--withtool
        padding-top: 56px


.v-sheet
    &__wrap
        display: flex
        padding: 16px
        align-items: center

    &__icon
        display: flex
        align-items: center
        justify-content: center
        height: 48px
        width: 48px
        border-radius: 3px
        background: rgba(255, 255, 255, 0.72)
    
    &__text
        flex-grow: 1
        padding-left: 16px