.message-box
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

.message-logo
    border-radius: 5px
    display: flex
    min-height: 120px
    justify-content: center
    min-width: 120px
    overflow: hidden

    &__wrap
        height: 100%

        img 
            height: 100%
            width: auto

.message-text
    padding-left: 24px

.brand-name
    margin-left: -4px

.brand-copy
    font-weight: 500
    font-size: 15px