.v-btn
    &--simple
        margin: 4px
        padding: 0
        background: transparent !important 
        box-shadow: none !important
        justify-content: center
        min-width: 0
        width: 36px
        border-radius: 5px