.v-card
    &__account
        width: 250px
    
    &__form
        margin-top: -64px
    
    &--sheet
        position: relative
        top: -24px

    &--offset
        margin-top: -24px
    
    &__text
        padding: 16px 24px