.v-card
    &.v-sheet
        p.describe
            color: #999
            font-size: 14px
            margin: 0
            line-height: 1.5em
        
        h3.title
            color: #3c4858
            font-size: 26px !important 
            font-weight: 300
            line-height: 1.4em !important

    &__account
        width: 250px
    
    &__form
        margin-top: -64px
    
    &--sheet
        position: relative
        top: -24px
        z-index: 1

    &--offset
        margin-top: -24px
    
    &__text
        padding: 16px 24px
    
    &__delete
        margin-top: 36px

        &--head
            position: relative
            top: -36px
            z-index: 1
        
        &--icon
            display: flex
            align-items: center
            justify-content: center
            width: 72px
            height: 72px
            border-radius: 50%
    
    &__profile
        margin-top: 65px

        &--image
            height: 130px
            border-radius: 50% !important
            overflow: hidden
            top: -65px
        
        &--offset
            margin-top: -48px
    
    &__header
        margin: 24px 24px 0

        &.icon 
            text-align: right

            & > .v-sheet
                float: left
                padding: 24px
                margin-right: 16px
                margin-top: -24px

            & > p.describe
                padding-top: 16px