.v-thinable
    .v-datatable
        thead
            tr:not(.v-datatable__progress)
                height: 36px !important

                th
                    padding: 4px 16px
                
                th.actions
                    padding: 0
                    width: 16px
        
        tbody
            tr td
                padding: 0 16px
                height: 36px
            
            tr td.actions
                padding: 0
                text-align: center

                .v-icon
                    cursor: pointer
                    user-select: none


.v-datatable
    &__message
        display: flex
        align-items: center
        justify-content: center
        height: 48px
    
    &__text
        padding-left: 8px
    
    &__progress
        .v-progress-linear
            position: absolute
    
    thead
        tr:not(.v-datatable__progress)
            height: 48px !important
            
        tr th
            &:first-child
                width: 80px

                + th
                    padding-left: 0
            
            .v-input--selection-controls
                width: 24px

            .v-input--selection-controls__input
                margin-right: 0

        th.date-updated
            width: 169px
        
        th.pricetag
            text-align: right
            width: 75px

        th.icontag
            padding: 0 8px !important;
            width: 45px
    
    tbody
        tr td
            &:first-child
                width: 80px

                + td
                    padding-left: 0
        
        tr td p
            margin-bottom: 0

        tr td.icontag
            padding: 0 8px !important;
            text-align: center !important
            width: 45px