.v-header
    transition: none
    width: 100%
    will-change: padding-left, padding-right

    &__content
        display: flex
        height: 64px
        align-items: center
        padding: 0 24px