.animated
    animation-duration: 0.72s;
    animation-fill-mode: both;

.v-page
    display: flex
    flex-direction: column
    height: 100%

    &__wrap
        flex-grow: 1 !important

        &.animated
            position: absolute
            width: 100%

            + .v-page--foot
                opacity: 0
    
    &--body
        &__content
            padding: 24px
    
    &--foot
        &__line
            background: $grey.lighten-2
            margin: 0 24px
            height: 1px

        &__content
            display: flex
            padding: 12px 24px