.v-photo
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 100%

    &__wraper
        display: flex
        justify-content: center
        position: relative
        height: 100%
        width: 100%

        .img-wrap
            height: 100%

        img
            height: 100%
            width: auto

    &__overlay
        background: rgba(0, 0, 0, 0.18);
        display: flex
        position: absolute !important
        align-items: center
        justify-content: center
        height: 100%
        width: 100%
        opacity: 0
        will-change: opacity 
        transition: opacity  0.2s cubic-bezier(0.25, 0.8, 0.5, 1);

        input[name="qqfile"]
            width: 100%

        &^[0]__hover
            opacity: 1
